@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    180deg,
    rgba(165, 180, 252, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%
  ); */
  background: linear-gradient(
    180deg,
    rgba(184, 229, 238, 0.6) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}
.bg-cyan-light-xs {
  /* background-color: #a5b4fc; */
  background-color: rgb(184, 229, 238, 0.7);
}

.bg-cyan-light {
  /* background-color: #a5b4fc; */
  background-color: #b8e5ee;
}

.bg-cyan {
  /* background-color: #818cf8; */
  background-color: #79c7d8;
}

.border-cyan {
  /* border: 1px solid #818cf8; */
  border: 1px solid #79c7d8;
}

.bg-cyan:hover {
  /* background-color: #4f46e5; */
  background-color: #0891b2;
  border: 1px solid #0891b2;
}

.bg-cyan-dark {
  /* background-color: #4f46e5; */
  background-color: #0891b2;
  color: white;
}

.text-cyan {
  /* color: #4f46e5; */
  color: #0891b2;
}

.big-text {
  font-size: 62px;
}

.huge-text {
  font-size: 82px;
}

.home-page-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.05);
}

.bookTile {
  height: 420px;
  min-width: 230px;
  border: 2px solid #0891b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-around;
  border-radius: 30px;
  padding: 15px;
}

.bookTile img {
  border-radius: 15px;
}

.link-button {
  border: 2px solid #0891b2;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  background-color: transparent;
}

.input-cyan {
  border: 2px solid #0891b2;
  border-radius: 10px;
}

.link-button:hover {
  color: #79c7d8;
  border: 2px solid #79c7d8;
}

.quantity-button {
  color: #79c7d8;
  border: 2px solid #79c7d8;
  border-radius: 10px;
  background-color: transparent;
  margin: 0 5px 0 5px;
  font-weight: 600;
}
